.Target{
    background-color: rgb(67, 240, 14);
    padding: 30px;
    font-size: small;
    color: rgb(255, 255, 255);
    text-align: center;
}

.Titulo{
    box-shadow: white;
    text-shadow: 30px;
    color: black;
}

.Botones{
    border-radius: 20px;
    color: rgb(255, 255, 255);
    background-color: black;
    columns: auto;
    padding-left: 5%;
    padding-bottom: 1%;
    padding-right: 4%;
    text-align: center;
}

.bg-Blue{
    text-shadow: 20%;
    padding: 20px;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background: blue;
}

.bg-Green{
    text-shadow: 20%;
    text-align: center;
    justify-content: center;
    padding: 10px;
    color: white;
    background: green;
    padding-left: 60%;
}